{% extends 'main.html' %}
{% load static %}
{% block content %}
     <style>
      .button {
        border-radius: 5px; /*round border*/
        border: none;
        color: white;
        padding: 5px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      .button5 {
        background-color: red;
        color: white;
        border: 2px solid #f44336;
      }
      .button5:hover {
        background-color: #f44336;
        color: white;
      }
	 </style>
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
				    <!--{% csrf_token %}-->
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>
					
					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
				    </div>

					<hr>
					<input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<small>Paypal Options</small>
				<div id="paypal-button-container"></div>
		        To proceed to cash on delivery option, just click ...       <button id="make-payment" class="button button5">Place Order</button>
				<br>
			</div>	
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.art.image.url}}"></div>
					<div style="flex:2"><p>{{item.art.name}}</p></div>
					<div style="flex:1"><p>₹{{item.art.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:  {{order.get_cart_items}}</h5></h5>
				<h5>Total:  ₹{{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	 </div>

<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD&disable-funding=credit"></script>

	 <script>
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    //Show a success message to the buyer
					alert('Transaction completed by ' + details.payer.name.given_name + '!')
                });
            }


        }).render('#paypal-button-container');
     </script>


<script type="text/javascript">
     var shipping = '{{order.shipping}}'
	 var total = '{{order.get_cart_total}}'

	 if(shipping == 'False'){
		  document.getElementById('shipping-info').innerHTML = ''
     }

	 if (user != 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
	 }

	 if (shipping == 'False' && user != 'AnonymousUser'){
			    //Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
	 }

	 var form = document.getElementById('form')

	 //csrftoken = form.getElementsByTagName("input")[0].value
	 //console.log('Newtoken:', form.getElementsByTagName("input")[0].value)
	 
	 form.addEventListener('submit',function(e){
		     e.preventDefault()
			 console.log('form submitted...')
			 document.getElementById('form-button').classList.add('hidden')
			 document.getElementById('payment-info').classList.remove('hidden')
		     })

     //from tis we want to remove or comment for paypal payment option
     document.getElementById('make-payment').addEventListener('click',function(e){
		     submitFormData()
	 })
	 //to tis and do some process to cnct tis above function to paypal section

     
     function submitFormData(){
			 console.log('Payment button clicked')

			 var userformData = {
				  'name':null,
				  'email':null,
				  'total':total,
			 }

             var shippingInfo = {
				  'address':null,
				  'city':null,
				  'state':null,
				  'zipcode':null,
			 }	

			 if(shipping != 'False'){
				  shippingInfo.address = form.address.value
				  shippingInfo.city = form.city.value
				  shippingInfo.state = form.state.value
				  shippingInfo.zipcode = form.zipcode.value
			 }
			  
			 if(user == 'AnonymousUser'){
				  userformData.name = form.name.value
				  userformData.email = form.email.value
			 }

			 var url = 'process_order'
			 fetch(url,{
			    method:'POST',
			    headers:{
					'Content-Type': 'application/json',
					'X-CSRFToken':csrftoken,
				},
				body:JSON.stringify({'form':userformData, 'shipping':shippingInfo}),
             }) 
	    	 .then((response) => response.json())
			 .then((data) => {
				console.log('Success:', data);
				alert('Order placed successfully!!');  

				window.location.href = "{% url 'success' %}"
			 })
     }
</script>
{% endblock content %}